<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% if meta_title %}<meta name="title" content="{{ meta_title }}" />{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if og_title %}<meta property="og:title" content="{{ og_title }}" />{% endif %}
  {% if title %}<title>{{ title }}</title>{% endif %}
</head>
<body>
  {% if h1 %}<h1>{{ h1 }}</h1>{% endif %}
  <p>This is just a test HTML file; nothing to see here.</p>
</body>
</html>
